.player {
    @include mobile {
        display: none;
    }
    display: flex;
    flex-direction: column;
    .song-info {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.75rem;

        &-artist {
            font-size: 1rem;
            line-height: 1.5rem;
            color: $textNotActive;
        }
        position: relative;
        .collapse {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            svg {
                font-size: 2rem;
            }
        }
    }

    .song-profile {
        aspect-ratio: 1/1;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;

        &-photo {
            object-fit: cover;
            width: 100%;
            @include desktop {
                width: 400px;
            }
        }
    }

    .song-controls {
        margin-top: 1rem;

        .volume {
            position: relative;
        }
        .wrapper {
            display: flex;
            justify-content: space-between;

            .middle {
                display: flex;
                gap: 0.5rem;
            }
        }
    }
}

.mobile-bar {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    .player {
        display: flex;
    }
}
